.phony {}

.legend-button-container {
  position: absolute;
  top: 220px;
  left: 30px;
  width: 250px;
  height: 185px;

}

.legend-button {
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  border-radius: 8px;
}

.legend-button:hover {
  background-color: #C3C3C3;
}
