.phony {}

.poly_90_e {
  fill: #c5e6dc;
}

.poly_90_eb {
  fill: #f5d6bf;
}

.poly_90_f {
  fill: #dcdbec;
}

.poly_50_e {
  fill: #6fc2a9;
}

.poly_50_eb {
  fill: #e79a60;
}

.poly_50_f {
  fill: #a8a5d0;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
