.phony {}

.poly_90_e {
  fill: #d1ebe3;
  opacity: 0.55;
}

.poly_90_eb {
  fill: #f7dfcc;
  opacity: 0.55;
}

.poly_90_f {
  fill: #e3e2ef;
  opacity: 0.55;
}

.poly_50_e {
  fill: #9bd4c2;
  opacity: 0.55;
}

.poly_50_eb {
  fill: #edb98f;
  opacity: 0.55;
}

.poly_50_f {
  fill: #c2c0dd;
  opacity: 0.55;
}

.poly_20_e {
  fill: #75c4ab;
  opacity: 0.55;
}

.poly_20_eb {
  fill: #e69e65;
  opacity: 0.55;
}

.poly_20_f {
  fill: #aba8d0;
  opacity: 0.55;
}

.cases_bar {
  fill: #DFDFDF;
}
